
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/ShopLayout.cshtml";
}
<div class="cart-table-area section-padding-100">
    <div class="cart-title mt-50">
        <h3>@ViewBag.CheckoutStatus<br> Your order will be delivered in a few minutes!!!<br> Thank you for using our service.</h3>
    </div>
</div>