@{
    Layout = "~/Views/Shared/ShopLayout.cshtml";
    ViewBag.Title = "Index";
}
@*<div class="main-content-wrapper d-flex clearfix">*@
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/Category/GetItems/1">
                    <img src="~/img/bg-img/1.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 6500 KS</p>
                        <h4>Pizzas</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/Category/GetItems/2">
                    <img src="~/img/bg-img/2.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 2000 KS</p>
                        <h4>Sides</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/Category/GetItems/3">
                    <img src="~/img/bg-img/3.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 3500 KS</p>
                        <h4>Wings</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/Category/GetItems/5">
                    <img src="~/img/bg-img/4.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 1000 KS</p>
                        <h4>Drinks</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="/Category/GetItems/4">
                    <img src="~/img/bg-img/5.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From 1500 KS</p>
                        <h4>Desserts</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a href="#">
                    <img src="~/img/bg-img/6.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>Coming Soon</p>
                        <h4>Salads</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    <!-- Product Catagories Area End -->
